ul {
    list-style-type: none;
}
.chat {
    margin-top: 10px;
}
.chatMessage {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px auto;
    width: 150px;
    display: table;
}
.box {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.chat-window{
    display:flex;
    flex-direction:column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
}
.chat-messages{
    flex: 1;

    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat-input { border-top: 1px solid #999; padding: 20px 5px }
.chat-input-text { width: 60%; min-height: 40px; max-width: 60%; }